<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Types of tea</title>
  </head>
  <body>
    <p>There are <%= numberOfTeaTypes %> types of tea in stock currently.</p>

    <p>
      <h1>Types of tea</h1>
      <% allTeaTypes.forEach(type => { %>
         <li> 
         
          <a href="<%= type.url %>"><%=type.name %></a>
        </li>
        <% }); %>
    </p>
  </body>
</html>
